<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>音乐.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2EF9B181BE9E90600E50C56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2EF9B311BE9E90600E50C56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2EF9B3C1BE9E90600E50C56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
